<table>
<% for (var i = 0; i < records.length; i++) { %>
<% var record = records[i]; %>
	<tr>
	<td  class="record_result">
  <a href="#"><%= record.demographics.firstname%> <%= record.demographics.lastname%></td>
  <td class="record_result"> <a href='#'> <%= record.demographics.dob %></a></td> 
  <td>  <span class="record_id" style='display: none;'><%= record.record_id %></span></a></td>
</tr>
<% } %>
</table>  
