/**
 *	This stylesheet is used for all login/registration/password-reset pages
 */

html, body { width: 100%; height: 100%; margin: 0; padding: 0; }
body {
	color: #555;
	font-family: "Helvetica Neue", Calibri, Helvetica, Tahoma, Verdana, sans-serif; font-weight: 400;
	background: -webkit-gradient(radial, 50% 50%, 50, 50% 50%, 750, from(rgb(246,246,246)), color-stop(70%, rgb(244,244,244)), to(rgb(226,226,226)));
	background: -webkit-radial-gradient(50% 50%, rgb(246,246,246) 35%, rgb(244,244,244) 70%, rgb(226,226,226));
	background: -moz-radial-gradient(50% 50%, rgb(246,246,246) 35%, rgb(244,244,244) 70%, rgb(226,226,226));
	background: radial-gradient(50% 50%, rgb(246,246,246) 35%, rgb(244,244,244) 70%, rgb(226,226,226));
	background-attachment: fixed;
}
p { margin: 0; }
a:hover { border: none; }

#full_height {
	margin: 0 auto; padding: 20px 0; max-width: 280px;
}
#main_box {
}
#main_content {
	clear: left; margin-top: 1.5em;
}

/* logo and title */
#logo { float: left; padding: 0; }
#logo img { height: 50px; }

.welcome_prefix { display: none; }
#front_site_name {
	height: 50px; line-height: 50px;
	font-size: 1.5em; font-weight: bold; text-align: right;
}

/* main area */
.table_form, .list { margin-top: 1em; font-size: 19px; line-height: 1.3; }

#login_form input[type="text"], #login_form input[type="email"], #login_form input[type="password"], #setup_form input[type="text"], #setup_form input[type="email"], #setup_form input[type="password"] {
	width: 100%;
}
.table_form input[type="text"], .table_form input[type="email"] { width: 98%; }
.table_form button[type="submit"] { min-width: 34%; font-size: 18px; margin-bottom: 10px; }
input.error { border-color: rgb(220,0,0); background-color: rgb(255,219,207); }

#search_input { width: 98%; height: 36px; border: none; }
#record_list .cell { display: block; }

.row { display: block; margin: 0 auto; }
.list .row { width: auto; max-width: 380px; margin: 0 auto; padding: 0.2em 0.8em; background-color: white; border: 1px solid #999; border-bottom-width: 0; }
.list .row:first-child {
	-moz-border-radius-topleft: 6px; -webkit-border-top-left-radius: 6px; border-top-left-radius: 6px;
	-moz-border-radius-topright: 6px; -webkit-border-top-right-radius: 6px; border-top-right-radius: 6px;
}
.list .row:last-child {
	border-bottom-width: 1px;
	-moz-border-radius-bottomleft: 6px; -webkit-border-bottom-left-radius: 6px; border-bottom-left-radius: 6px;
	-moz-border-radius-bottomright: 6px; -webkit-border-bottom-right-radius: 6px; border-bottom-right-radius: 6px;
}
.list .cell:first-child { color: #666; }
.list .gender { float: right; height: 40px; line-height: 40px; margin-left: 0.5em; }
.list .dob { font-size: 0.85em; color: rgb(120,120,120); }

.moreinfo {
	margin-top: 1em; font-size: 15px; font-weight: normal; color: #666;
}
.moreinfo b {
	color: #CCCCCC; padding: 0 1em;
}
.main_action_button { margin-top: 1em; text-align: center; }
#submit { min-width: 59%; }
.logout { margin-top: 1em; }

/* errors and messages */
.login_message {
	margin: 30px auto 15px; padding: 0.6em 1em; text-align: center; font-size: 19px; color: rgb(93,153,28);
	border: 2px dotted rgb(108,178,33); border-width: 2px 0;
}
#error, .login_error {
	margin: 30px auto 15px; padding: 0.6em 1em; text-align: center; font-size: 19px; color: rgb(230,53,32);
	border: 2px dotted rgb(230,53,32); border-width: 2px 0;
}
.login_error .moreinfo { margin-top: 1em; font-size: 14px; }
.error_status {  }

#browser_compatibility { display: none; }

/* generic */
.red { color: rgb(200,50,0); }
.green { color: rgb(121,160,0); }
.faded { color: rgb(178,178,178); color: rgba(0,0,0,0.3); }

#footer {
	display: block; position: relative; width: 100%; margin: 40px 0 0;
	font-size: 1em;
}
