/**
 *	This stylesheet is used for all login/registration/password-reset pages
 */

html, body { width: 100%; height: 100%; margin: 0; padding: 0; }
body {
	color: #555;
	font-family: "Helvetica Neue", Calibri, Helvetica, Tahoma, Verdana, sans-serif; font-weight: 400;
	background: -webkit-gradient(radial, 50% 50%, 50, 50% 50%, 750, from(rgb(246,246,246)), color-stop(70%, rgb(244,244,244)), to(rgb(226,226,226)));
	background: -webkit-radial-gradient(50% 50%, rgb(246,246,246) 35%, rgb(244,244,244) 70%, rgb(226,226,226));
	background: -moz-radial-gradient(50% 50%, rgb(246,246,246) 35%, rgb(244,244,244) 70%, rgb(226,226,226));
	background: radial-gradient(50% 50%, rgb(246,246,246) 35%, rgb(244,244,244) 70%, rgb(226,226,226));
}
p { margin: 0; }

#full_height {
	position: absolute; top: 0; width: 100%; min-height: 100%;
}
#main_content {
	margin-top: 1.5em;
}
#main_box {
	width: 600px; min-height: 300px; margin: 5% auto 30px;
}

/* (logo and) title */
#front_site_name {
	margin-top: 1em;
	font-size: 1.8em; font-weight: bold;
}

/* main area */
.table_form {
	display: table; width: 100%;
	font-size: 22px; line-height: 1.7;
}
#login_form input[type="text"], #login_form input[type="email"], #login_form input[type="password"], #setup_form input[type="text"], #setup_form input[type="email"], #setup_form input[type="password"] {
	width: 65%;
}
.table_form input[type="text"], .table_form input[type="email"] { width: 98%; font-size: 20px; }
.table_form button[type="submit"] { min-width: 34%; font-size: 18px; margin-bottom: 10px; }
input.error { border-color: rgb(220,0,0); background-color: rgb(255,219,207); }

.row { display: table-row; }
a.row { display: block; font-size: 1.2em; }
.cell { display: table-cell; padding: 0.25em; }
.cell:first-child { width: 39%; padding-left: 0; padding-right: 0.8em; text-align: right; }
.cell:last-child { padding-right: 0; }
.moreinfo {
	margin-top: 0.5em; font-size: 13px; font-weight: normal; color: #666;
}
.moreinfo b {
	color: #CCCCCC; padding: 0 1em;
}
.main_action_button { margin-top: 1.5em; }

/* errors and messages */
.login_message {
	margin: 30px auto 15px; padding: 0.6em 1em; text-align: center; font-size: 19px; color: rgb(93,153,28);
	border: 2px dotted rgb(108,178,33); border-width: 2px 0;
}
#error, .login_error {
	margin: 30px auto 15px; padding: 0.6em 1em; text-align: center; font-size: 19px; color: rgb(230,53,32);
	border: 2px dotted rgb(230,53,32); border-width: 2px 0;
}
.login_error .moreinfo { margin-top: 1em; font-size: 14px; }


/* generic */
.red { color: rgb(200,50,0); }
.green { color: rgb(121,160,0); }
.faded { color: rgb(178,178,178); color: rgba(0,0,0,0.3); }

#footer {
	position: absolute; bottom: 0; left: 0; right: 0;
	padding-left: 20px;
}
