/*
  SMArt UI Server CSS
  Arjun Sanyal (arjun.sanyal@childrens.harvard.edu)
  Loosely based on the Indivo UI server's CSS
*/

/*** colors ***/
/*
  body text:    #555
  background:   #fcfcfc
  light blue:   #0088cc
  dark blue:    #004488
  red:          #880000
  green:        #008800
  light green:  #00cc88
*/

/*** YUI 3 Resets ***/
/* reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}sup{vertical-align:text-top;}sub{vertical-align:text-bottom;}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}input,textarea,select{*font-size:100%;}legend{color:#000;}
/* base */
h1{font-size:138.5%;}h2{font-size:123.1%;}h3{font-size:108%;}h1,h2,h3{margin:1em 0;}h1,h2,h3,h4,h5,h6,strong{font-weight:bold;}abbr,acronym{border-bottom:1px dotted #000;cursor:help;}em{font-style:italic;}blockquote,ul,ol,dl{margin:1em;}ol,ul,dl{margin-left:2em;}ol li{list-style:decimal outside;}ul li{list-style:disc outside;}dl dd{margin-left:1em;}th,td{border:1px solid #000;padding:.5em;}th{font-weight:bold;text-align:center;}caption{margin-bottom:.5em;text-align:center;}p,fieldset,table,pre{margin-bottom:1em;}input[type=text],input[type=password],textarea{width:12.25em;*width:11.9em;}
/* text: See also:
   http://www.alistapart.com/articles/howtosizetextincss/
   http://www.markboulton.co.uk/journal/comments/incremental-leading
   After experimenting I think the happy medium is: 15px body, 24px line-height (1.6); insead of the default 13px/1.231
*/
body{font:15px/1.6 arial,helvetica,clean,sans-serif;*font-size:small;*font:x-small;}select,input,button,textarea{font:99% arial,helvetica,clean,sans-serif;}table{font-size:inherit;font:100%;}pre,code,kbd,samp,tt{font-family:monospace;*font-size:108%;line-height:100%;}

/*** General ***/
html { }
body {
  background: #f6f6f6;
  color: #555;
  font-family: "Helvetica Neue", Calibri, Helvetica, Tahoma, Verdana, sans-serif;
  font-weight: 400;
  text-rendering: optimizelegibility;
}

/* override reset font face for these elements. make this the same as body font-family */
select,input,button,textarea {
  font-family: "Helvetica Neue", Calibri, Helvetica, Tahoma, Verdana, sans-serif;
}

/* use Lucida grande with slight neg letter spacing for text */
p {
  font-family: "Lucida Grande", Calibri, "Helvetica Neue", Helvetica, Tahoma, Verdana, sans-serif;
  letter-spacing: -0.1px;
}

.alert_header {font-weight: bold;}

TABLE.alert_table tbody  tr:nth-child(odd) {background: white;}
TABLE.alert_table thead tr {background: #ccc;}
.alert_time {white-space: nowrap;}

/* better font stack for true italics */
i { font-family: "Lucida Sans Unicode", "Lucida Sans", Calibri, "Lucida Grande", "Helvetica Neue", Helvetica, Tahoma, Verdana, sans-serif; }

/* better font stack for monospaced text */
pre,code,kbd,samp,tt { font-family: Consolas, "Andale Mono", monospace }

/* this allows for bold italic text in <strong><em> */
strong { font-style: inherit; }
em { font-weight: inherit; }

/* set a standard length for all input types */
input[type="email"] { width: 12.25em; }

/* links */
a { color: #0088CC; text-decoration: none; }
a:hover { color: #0088CC; border-bottom: 1px solid #0088CC; }

/* heading heirarchy based on weights a 24px line height */
/*
h1 { font-size: 36px; margin: 8px  0 0   0; font-weight: 300; color: #666; letter-spacing: -1.75px; }
h2 { font-size: 28px; margin: 16px 0 4px 0; font-weight: 300; color: #666; }
h3 { font-size: 20px; margin: 4px  0 0   0; font-weight: 400; color: #555; letter-spacing: -1px}
h4 { font-size: 16px; margin: 8px  0 0   0; font-weight: 700; color: #555;}
h5 { font-size: 14px; margin: 9px  0 0   0; font-weight: 700; color: #555; text-transform: uppercase;}
*/

/* lists */
li img { height: 32px; width: 32px; }

/** Main layout **/
#header {  background: #f6f6f6;  position: fixed; top: 0px; left: 0px; width: 100%; height: 30px; z-index: 1; border-bottom: 1px solid #ddd; z-index: 10;}

#footer { position: fixed; bottom: 0px; width: 190px; padding-left: 10px; }
#footer a { font-size: 0.9em; }

/* #pt_label { margin-left: 2em; margin-right: 2em;}*/
#prev_pt {padding-left: 2em; padding-right: 1em; }
#next_pt {padding-left: 1em; padding-right: 2em;}
#next_pt:hover,#prev_pt:hover {text-decoration: none; font-weight: bold; border-bottom: 0px;}
#logo { padding-top: .8em; display: inline-block;}
#header_logo { width: 210px; position: absolute; top: 0px; left: 0px;  color: #666; font-size: 18px; font-weight: 200;  background: #F6F6F6; text-align: center;}
#working_with { width: 100%;  color: #004488; font-size: 18px; margin: auto; text-align: center; white-space: nowrap; }
#header_name {  position: absolute; top: 0px; right: 0px; text-align: right; margin-right: 1.5em; margin-top: 3px; white-space: nowrap; font-size: 0.9em; } /* eat the header's left padding + 5px */
#app_selector { position: fixed; top: 116px; left: 0px; width: 200px;  padding-left: 10px; z-index: 10;}
#app_selector_inner {height: 100%; overflow-y: auto;}

#main_canvas {
  position: absolute;
  top: 0px; 
  left: 0px;
  padding-left: 210px;
  padding-top: 31px;
  width: 100%; height: 100%;
  border: none; 
  box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;  
  vertical-align: top;
//  border: 10px dotted #ddd;
// makes scrollbar disappear!  padding-left: 15px;
}

@media screen and (max-width: 700px) { 
  #header, #footer, #app_selector {position: absolute;}
  #header {padding-left: 0px;}
  #footer {display: none;}
  #app_selector {width: 175px;}
  #main_canvas {padding-left: 180px;}
  #app_selector_inner {overflow-y: visible;}
}



#app_selector_hairline_top { width: 120px; margin: 0 35px; border-bottom: 1px solid #ddd; }
#app_selector_hairline_bottom { width: 120px; margin: 16px 35px 0 35px; border-top: 1px solid #ddd; }
/* this hides the jquery ui tabs generated panels */
#app_selector .ui-tabs-panel { display: none; }
#app_selector ul { margin: 0px; }
#app_selector li { list-style: none; }
/* don't make app links as small as normal links, but rather 95% of the normal size */
#app_selector li a { font-size: 95%; font-weight: 300;}
#app_selector li a:hover { border-bottom: none; }
/* use padding on app icons for spacing */
#app_selector li img { position: relative; top: 9px; padding: 0px 12px 0px 0px; }
#manage_apps_list { margin-top: 5px !important; }

#app_content_iframe_holder {border: 0px; margin: 0px; padding: 0px; width: 100%; height: 100%; }
#CloseApp { position:absolute; top:0; right:0; z-index: 1; padding-right: .3em; }

#copyright { font-size: .85em; color: #aaa;}


/** views **/
UL.manage_apps li { list-style: none; }
.manage_apps P { padding: 0px; margin-bottom: 0.4em; }
.manage_apps .app_tab_img {float: left;}
#patient_list_results { display: none;}
#patient_search_sparql {margin-top: 2em; display: none;}
#patient_selected_header { margin-bottom: 2em; }
.results_header { font-size: 20px; }
.results_sub_header { font-size: 18px; font-weight: bold; }
#app_selector .selected_app {font-weight: bold; color: #004488;}

/** extras **/
.inputHintOverlay { color: #999; font-size: 12px; }
.activity_iframe {border: 0px; display: block; width: 100%; height: 100%;}
ul.search_results { margin: 0px; padding: 0px;  }
li.record { cursor:pointer; list-style-type: none;  margin-bottom: .3em;}
li.record:hover { color: #0088cc; }
/*.fullScreen { position:absolute; top:0; left:0; width:100%; height: 100%; }*/

#loading_div {
margin: 0px; 
border: 0px; 
}


/** generic classes **/
.greyed_out { opacity: 0.3; }
/*.record_id { font-size: .6em;  font-family: "courier new", fixed; }*/

/* break this usage up into a "details" div, with semantic markup for each element type */
div.pt_name, div.dob, div.gender, div.zip, div.oneliner{ font-size: 12px; position: relative; top: -.4em; line-height: 1.3em;}
div.pt_name { margin-top: 1.3em; font-weight: bold;  }
span.oneliner {}
span.record_tag {background: #ccc; font-size: 10px; padding-left: 2px; padding-right: 2px; padding-top: 1px; margin-right: 2px;   }

/*** tables ***/
/* a "light" table style */
th, td { border: 1px solid #eee;}

table.light {
  width: 100%;
  margin: 0 auto;
}

table.light thead th { 
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #ddd;
  text-align: left;
  text-transform: uppercase;
  font-weight: normal;
}
table.light tfoot td {
  border: none;
  text-align: right;
  font-weight: normal;
  color: #999;
  font-style: italic;
  font-size: .85em;
}
table.light tbody td:first-child { border-left:none; }
table.light tbody td:last-child { border-right:none; }
tr.odd { background: #fff; }
tr.unread { font-weight: bold; }
