/*
SMArt UI Server CSS
Arjun Sanyal (arjun.sanyal@childrens.harvard.edu)

- Loosely based on the Indivo UI server's CSS

*/



/*** YUI 3 Resets ***/
/* reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}sup{vertical-align:text-top;}sub{vertical-align:text-bottom;}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}input,textarea,select{*font-size:100%;}legend{color:#000;}
/* base */
h1{font-size:138.5%;}h2{font-size:123.1%;}h3{font-size:108%;}h1,h2,h3{margin:1em 0;}h1,h2,h3,h4,h5,h6,strong{font-weight:bold;}abbr,acronym{border-bottom:1px dotted #000;cursor:help;}em{font-style:italic;}blockquote,ul,ol,dl{margin:1em;}ol,ul,dl{margin-left:2em;}ol li{list-style:decimal outside;}ul li{list-style:disc outside;}dl dd{margin-left:1em;}th,td{border:1px solid #000;padding:.5em;}th{font-weight:bold;text-align:center;}caption{margin-bottom:.5em;text-align:center;}p,fieldset,table,pre{margin-bottom:1em;}input[type=text],input[type=password],textarea{width:12.25em;*width:11.9em;}
/* See also:
   http://www.alistapart.com/articles/howtosizetextincss/
   http://www.markboulton.co.uk/journal/comments/incremental-leading
   After experimenting I think the happy medium is: 15px body, 24px line-height (1.6); insead of the default 13px/1.231
*/
body{font:15px/1.6 arial,helvetica,clean,sans-serif;*font-size:small;*font:x-small;}select,input,button,textarea{font:99% arial,helvetica,clean,sans-serif;}table{font-size:inherit;font:100%;}pre,code,kbd,samp,tt{font-family:monospace;*font-size:108%;line-height:100%;}

/*** General ***/
html {height: 100%; overflow-x: hidden; overflow-y: hidden;}
body {
  font-size: 15px
  line-height: 1.6em;
  background: #FEFCF7;
  color: #464337;
  font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Corbel, Helvetica, Tahoma, Verdana, sans-serif;
  font-weight: 300;
  text-rendering: optimizelegibility;
}
/* override reset font face for test elements */
select,input,button,textarea {
  font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Corbel, Helvetica, Tahoma, Verdana, sans-serif;
  font-weight: 300;
}
/** **/

h2 {margin: 0px; padding: 0px;}
.indivo_error { color: #cc6644; }
.indivo_full { opacity: 1; filter:Alpha(Opacity=100); }
.indivo_muted { opacity: .8; filter:Alpha(Opacity=80); }
.small {font-size: .9em;}


/*i { font-family: "Lucida Sans", "Lucida Grande", "Helvetica Neue", Helvetica, Verdana, sans-serif;
font-style: oblique;
}
*/
a {
  color: #666251;
  font-weight: 400;
  text-decoration: none;
  font-size: 0.85em;
}

#header_name {	
  font-style: italic;
  position: absolute;
  right: 0;
  
}

#current_patient, #header_username {
	font-weight: bold;
}

#working_with {
position: absolute;
right: 0;
top: 1.5em;
background: #0C3141;
padding-bottom: .2em;
padding-left: .4em;
border-bottom: 4px solid white;
border-left: 4px solid white;
}

#LogoutButton {
color: #C2E1D8;
}

#record_tabs {
  position: fixed;
  right: 4em;
  top: 1px;
  z-index: 2;
}

.greyed_out { opacity: 0.4;}

#app_selector UL#manage_apps_list {
	margin-top: 1.5em;
}

UL.manage_apps {
	list-style: none;
}
.manage_apps P {
	padding: 0px;
	margin-bottom: 0.4em;
}


.manage_apps .app_tab_img {float: left;}

#app_selector ul span {
vertical-align: top;
margin-top: 15px;
display: inline-block;
margin-top: 8px;
}

SELECT#current_patient  {background: white; color: #0C5161; 	font-weight: bold;
	font-size: 1em;
	vertical-align: middle;
	margin: 0px;
	padding: 0px;
	border 0px;
}

#patient_search_results { display: none;}
#patient_search_sparql {margin-top: 2em; display: none;}
.inputHintOverlay { color: #999; font-size: 12px; }

#trademark {vertical-align: super; font-size: 1.2em; color: #999;cursor: pointer;}

#header {  position: fixed; top: 0px; background: #0C5161; width: 100%;  vertical-align: bottom; height: 1.5em; z-index: 1; color: #C2E1D8;}

#header_controls {
  margin-top: 20px;
  margin-bottom: 10px;
  padding-top: 2.5em;
  text-align: right;
  z-index: 2;
  margin-top: 1.5em;
}

#header_controls a:hover { border-bottom: none; }


.header_icons {margin-bottom: -3px; margin-left: 15px;}

#footer { position: fixed; bottom: 0px; width: 160px; background: #0c5161; color: #C2E1D8;}
#footer a { font-weight: normal; color: #C2E1D8; }
#footer a img {
max-height: 1em;
min-width: 1em;
border: 0px;
}
li img {
	height: 32px;
	width: 32px;
}
#copyright { text-align: center; font-size: .8em;}


/*** Apps ***/

#app_selector {
	position: absolute;
	top: 1.5em;
	left: 0px;
	width: 160px; 
    vertical-align: top;
    padding-top: .4em;
	border-right: 1px solid #dadada;
}

.record_id {
  font-size: .6em; 
  font-family: "courier new", fixed;
}


#app_selector LI#select_patient_warning {font-size: .7em; padding-bottom: 2em; padding-top: .3em;}
#app_selector ul{padding: 0px; list-style: none; margin: 0px;}

#app_selector li{padding-bottom: .3em;padding: 0px; list-style: none; margin: 0px;}
#app_selector LI.final_static_tab { padding-bottom: 1em; margin-bottom: 1em; border-bottom: 2px dotted #999999;}

/* this hides the jquery ui tabs generated panels */
#app_selector .ui-tabs-panel { display: none; }

#app_selector_inner {
  text-transform: none !important;
  padding: 0px;
  margin: 0px;
}

#patient_search_results {
    margin-bottom: 2em;
}

#patient_selected_header {
    margin-bottom: 2em;
}

.results_header {
    font-size: 2em;
    font-weight: bold;
    position: relative;
}
.results_sub_header {
    font-size: 1.2em;
    position: relative;
    padding-bottom: 1em;
}

span.dob {
    margin-top: 0px;
    font-size: .7em;
    margin-bottom: .4em;
    position: relative;
    top: -.4em;
}

ul.search_results {
    list-style-type: none;
    background: #f6f6f6;
    border-collapse: collapse;
    margin: 0px;
    padding: 0px;
}

li.record {
    cursor:pointer;

}

li.record:hover {
    color: black;
}

record_result {
   padding-bottom: .5em;
}

#app_selector_inner li a { padding: 0px 0px 0px 0px; }
#app_selector_inner li img { padding: 0px 0px 0px 0px; position: relative; top: 0.7em; }
#app_selector_inner li a:hover { border-bottom: none; }

#get_more_apps {cursor:pointer;}

#main_canvas {
  width: 100%;
  background: #eaeaea;
  position: absolute;
  top: 1.5em;
  left: 160px;
  vertical-align: top;
  margin: 0px;
  border: 0px;
  border-bottom: 1px solid #ccc;
  overflow-y: auto;
  overflow-x: hidden;
}

.activity_iframe {
    overflow-x:hidden;overflow-y:hidden;
}

#app_content {
    overflow-x:hidden;overflow-y:auto;
}



#app_container table {width: 100%; height: 100%; border-collapse: collapse; margin-top: -0.2em; }

/*** record tabs ***/


#record_tabs_inner {
  border: none !important;
  font-weight: normal !important;
  text-transform: none !important;
  font-size: 1em !important;
  postition: relative;
  padding: 0px;
  margin: 0px;
  
}

.record_tab {
  height: 1.4em;
  border-left: 1px solid #ddd !important;
  border-top: 1px solid #ddd !important;
  text-align: center;
  float: right !important;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 1px;
  margin-left: 8px !important;
  display: block;
}

.record_tab li {
  text-align: center;
  float: right !important;
  padding: 5px;
  margin-left: 10px;
  display: block;
}

#record_tabs_inner li a:hover { border-bottom: none; }
/* this hides the jquery ui tabs generated panels */
#record_tabs div { display: none; }

.overlay {
  display:none;
  z-index:10000;
  background-color:#f0f0f0;
  width:675px;
  min-height:200px;
  padding: 35px;
  }

.overlay .close {
  position:absolute;
  right:-15px;
  top:-15px;
  cursor:pointer;
  height:35px;
  width:35px;
  background-image:url(/static/resources/images/jquery_tools/close.png);
}

.wrap {
  padding: 0px 10px 10px 10px;
}

/*** PHAs ***/
.pha {
  margin-bottom: 10px;
}

.pha a:hover {
  cursor: pointer;
  border-bottom: 1px solid #666251;
}

/*** notifications ***/
/*.notification {
    background-color: white;
    border-bottom: 2px solid #b4b4b4;
    padding: 0.4em;
    font-size: 12pt;
}

.notification .created_at {
    display: block;
    float: left;
    color: #555555;
    padding-right: 5px;
}

.notification .details {
    color: #555555;
    font-size: 10pt;
}
*/
/*** messaging ***/
/*
table.message_listing {
  border: 1px black solid;
  border-collapse: collapse;
  border-spacing: 0px;
  width: 90%;
}

table.message_listing th {
  border-bottom: 1px black solid;
  border-right: 1px #888 dotted;
  padding: 5px 35px 5px 5px;
  background: #edf3fe;
  text-align: left;
  font-size: 12pt;
}

table.message_listing td {
  padding: 2px 35px 2px 5px;
  border-bottom: 1px black solid;
  border-right: 1px #888 dotted;
  font-size: 11pt;
}*/

/***********  Overrides of jquery UI ***********/






/********* Overrides of fluid960gs CSS *********/
.container_16 { background: none; }
a:hover { color: black; }
table { border: none; }
tbody th, tbody td { border: none; }
thead th.table-head { background: none; font-size: 1.1em; border: none; color: inherit; }
thead th { background: none; border-bottom: 1px solid #ccc;}
tfoot th, tfoot td { background: none; border-top:1px solid #ccc }
tfoot tr.total th, tfoot tr.total td { border-top:3px double #ccc; }
ul.section li a { background: none; }
ul.section li a.current { background: #dadada; font-weight: bold; color: inherit;};
h1 { color: #555 }
h2 h3 { color: #444;}
.box h2 { background: none; color: inherit;}
.box h2 a { background: none;  color: inherit;}
.box h2 a:hover { background-color:none; }
.box h2 a.hidden, .box h2 a.hidden:hover {  background: none; }
.box h2 a:hover { text-decoration: underline; background: none;}
.box h2 a, .box h2 a.visible { color:inherit; background:none; display:block; padding:6px 12px; margin:-6px -12px; border:none; }
legend { background: none; border: none; }
fieldset { background: none; border: 1px solid #ccc; }
ul.menu { border: none;}
ul.menu li a { border: none;}
/* fixme: this one is a little odd in ff */
/*input.search.text { background: none; }*/


.fullScreen  { 
 position:absolute;
 top:0;
 left:0;
 width:100%;
 height: 100%;
}


#CloseApp  { 
 position:absolute;
 top:0;
 right:0;
 z-index: 1;
 padding-right: .3em;
}