/*

Indivo UI CSS
--------------

In this file we override the CSS in jquery UI and fluid960gs and 
define our own CSS.


Some Color Schemes
-------------------

(as body background color, box, shadow)

Default Color Scheme
  - Off white background: background: #FEFCF7
  - Light gray box background: background: #fafafa
  - Rounded corners: moz-border-radius: 10px; -webkit-border-radius: 10px;
  - Light y-axis only box shadow: -moz-box-shadow: 0 1px 3px #aaa

Tint Colors
  - #efe - green
  - #eef - bluish
  - #eff - teal
  - #fef - pinkish/purple
  - #ffe - yellow
  - #fee - peach


Useful Icons from Crystal Project
----------------------------------

in /apps:
alert.png
blockdevice.png (for kids)
chat.png (speech bubble)
clock.png
database.png
date.png
gpg.png (lock)
irc_protocol.png (conversation)
kdmconfig.png (3 people -- carenet?)
khelpcenter.png
knode.png (news)
knote.png (note)
kteatime.png (take a break!)
package_favorite.png
package_setting.png
printer.png
reminders.png
tutorials.png
starthere.png

cool looking:
kllckety.png

patient notifier?: actions/agt_update_recommended.png


in /devices
pipe.png (for connection for gpp?)
mountoverlays.png

in /filesystems
connect_to_network.png
favorites.png
folder*
link and lock overlays

in /mimetypes
spreadsheet.png

in /actions

advanced.png
connect*
decrypted.png
gohome.png
goto.png
mail*
agt_family.png


Other Stuff
-----------
- red: #79332D

$('.box, .box h2').animate({ backgroundColor: '#fef' }, 2000, 'swing', function(){});

text-shadow: http://www.zachstronaut.com/posts/2009/06/22/css-text-shadow-lighting-demo.html 
.burning { text-shadow: 0 0 4px white, 0 -5px 4px #FFFF33, 2px -10px 6px #FFDD33, -2px -15px 11px #FF8800, 2px -25px 18px #FF2200; }
.glowing { text-shadow: 1px 1px 5px #fff; } 
.milky { color: #fff;  background: #fff; text-shadow: 1px 1px 4px#000; }

*** Warning: .section and .menu are highly styled by fluid960gs! don't use those class names !! ***
FIXME: Remove styling from those class names

*/


/********** HACKS *********/
/* FIXME: Hack for jqui icons positioning issues */
.ui-icon { display: none;}
/*#tabs { margin-bottom: 20px; }*/



/***** Indivo CSS *****/

/*** General ***/
html {height: 100%;}

h2 {margin: 0px; padding: 0px;}

body {
  margin: 0px;
  font-family: "Lucida Grande", "Lucida Sans", "Helvetica Neue", Helvetica, Verdana, sans-serif;
  background: #FEFCF7;
  color: #464337;
  height: 100%;
}
.indivo_error { color: #cc6644; }
.indivo_full { opacity: 1; filter:Alpha(Opacity=100); }
.indivo_muted { opacity: .8; filter:Alpha(Opacity=80); }
.small {font-size: .9em;}

i { font-family: "Lucida Sans", "Lucida Grande", "Helvetica Neue", Helvetica, Verdana, sans-serif;
font-style: oblique;
}

a { color: #666251; font-weight:bold; text-decoration: none; font-size: 0.85em;}
img {border: 0px;}

/*** Header ***/
#logo{
	font-weight: bold;
}


#header_name {	
  font-style: italic;
}


 #LogoutButton {
color: #C2E1D8;
}

#record_tabs {
  position: fixed;
  right: 4em;
  top: 1px;
  z-index: 2;
}

#bigbody ul span {
vertical-align: top;
margin-top: 15px;
display: inline-block;
margin-top: 8px;
}


#trademark {vertical-align: super; font-size: 1.2em; color: #999;cursor: pointer;}

#header {  position: fixed; top: 0px; background: #0C5161; width: 100%;  vertical-align: bottom; height: 1.5em; z-index: 1; color: #C2E1D8;}

#header_controls {
  margin-top: 20px;
  margin-bottom: 10px;
  padding-top: 2.5em;
  text-align: right;
  z-index: 2;
  margin-top: 1.5em;
}

#header_controls a:hover { border-bottom: none; }


.header_icons {margin-bottom: -3px; margin-left: 15px;}

#footer { position: fixed; bottom: 0px; background: #0c5161; color: #C2E1D8; width: 100%; }
#footer a { font-weight: normal; color: #C2E1D8; }
#footer a img {
max-height: 1em;
min-width: 1em;
border: 0px;
}
li img {
	height: 32px;
	width: 32px;
}
#copyright { text-align: center; font-size: .8em;}


/*** Apps ***/

#app_selector {
	position: absolute;
	top: 1.5em;
	left: 0px;
	width: 200px; 
    vertical-align: top;
    padding-top: .4em;
	border-right: 1px solid #dadada;
}



#app_selector ul{padding: 0px; list-style: none; margin: 0px;}
#app_selector li{padding-bottom: .3em;padding: 0px; list-style: none; margin: 0px;}

/* this hides the jquery ui tabs generated panels */
#app_selector .ui-tabs-panel { display: none; }

#app_selector_inner {
  text-transform: none !important;
  padding: 0px;
  margin: 0px;
}


#app_selector_inner li a { padding: 0px 0px 0px 0px; }
#app_selector_inner li a:hover { border-bottom: none; }

#get_more_apps {cursor:pointer;}

#app_content, #app_content_iframe {
  position: absolute;
  top: 1.5em;
  left: 175px;
  vertical-align: top;
  margin: 0px;
  background: #eaeaea;
  border: 0px;
  border-bottom: 1px solid #ccc;
  overflow-y: auto;
  overflow-x: auto;
}



#app_container table {width: 100%; height: 100%; border-collapse: collapse; margin-top: -0.2em; }

/*** record tabs ***/


#record_tabs_inner {
  border: none !important;
  font-weight: normal !important;
  text-transform: none !important;
  font-size: 1em !important;
  postition: relative;
  padding: 0px;
  margin: 0px;
  
}

.record_tab {
  height: 1.4em;
  border-left: 1px solid #ddd !important;
  border-top: 1px solid #ddd !important;
  text-align: center;
  float: right !important;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 1px;
  margin-left: 8px !important;
  display: block;
}

.record_tab li {
  text-align: center;
  float: right !important;
  padding: 5px;
  margin-left: 10px;
  display: block;
}

#record_tabs_inner li a:hover { border-bottom: none; }
/* this hides the jquery ui tabs generated panels */
#record_tabs div { display: none; }

.overlay {
  display:none;
  z-index:10000;
  background-color:#f0f0f0;
  width:675px;
  min-height:200px;
  padding: 35px;
  }

.overlay .close {
  position:absolute;
  right:-15px;
  top:-15px;
  cursor:pointer;
  height:35px;
  width:35px;
  background-image:url(/static/resources/images/jquery_tools/close.png);
}

.wrap {
  padding: 0px 10px 10px 10px;
}

/*** PHAs ***/
.pha {
  margin-bottom: 10px;
}

.pha a:hover {
  cursor: pointer;
  border-bottom: 1px solid #666251;
}

/*** notifications ***/
/*.notification {
    background-color: white;
    border-bottom: 2px solid #b4b4b4;
    padding: 0.4em;
    font-size: 12pt;
}

.notification .created_at {
    display: block;
    float: left;
    color: #555555;
    padding-right: 5px;
}

.notification .details {
    color: #555555;
    font-size: 10pt;
}
*/
/*** messaging ***/
/*
table.message_listing {
  border: 1px black solid;
  border-collapse: collapse;
  border-spacing: 0px;
  width: 90%;
}

table.message_listing th {
  border-bottom: 1px black solid;
  border-right: 1px #888 dotted;
  padding: 5px 35px 5px 5px;
  background: #edf3fe;
  text-align: left;
  font-size: 12pt;
}

table.message_listing td {
  padding: 2px 35px 2px 5px;
  border-bottom: 1px black solid;
  border-right: 1px #888 dotted;
  font-size: 11pt;
}*/

/***********  Overrides of jquery UI ***********/






/********* Overrides of fluid960gs CSS *********/
.container_16 { background: none; }
a:hover { color: black; }
table { border: none; }
tbody th, tbody td { border: none; }
thead th.table-head { background: none; font-size: 1.1em; border: none; color: inherit; }
thead th { background: none; border-bottom: 1px solid #ccc;}
tfoot th, tfoot td { background: none; border-top:1px solid #ccc }
tfoot tr.total th, tfoot tr.total td { border-top:3px double #ccc; }
ul.section li a { background: none; }
ul.section li a.current { background: #dadada; font-weight: bold; color: inherit;};
h1 { color: #555 }
h2 h3 { color: #444;}
.box h2 { background: none; color: inherit;}
.box h2 a { background: none;  color: inherit;}
.box h2 a:hover { background-color:none; }
.box h2 a.hidden, .box h2 a.hidden:hover {  background: none; }
.box h2 a:hover { text-decoration: underline; background: none;}
.box h2 a, .box h2 a.visible { color:inherit; background:none; display:block; padding:6px 12px; margin:-6px -12px; border:none; }
legend { background: none; border: none; }
fieldset { background: none; border: 1px solid #ccc; }
ul.menu { border: none;}
ul.menu li a { border: none;}
/* fixme: this one is a little odd in ff */
/*input.search.text { background: none; }*/


.fullScreen  { 
 position:absolute;
 top:0;
 left:0;
 width:100%;
 height: 100%;
}


#CloseApp  { 
 position:absolute;
 top:0;
 right:0;
 z-index: 1;
 padding-right: .3em;
}