<!DOCTYPE html>
<html lang='en'>
<head>
    <title>SMART Admin UI</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link type="text/css" href="/static/smart_ui_server/smart_ui_server.css" rel="Stylesheet" />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
</head>
<body style="text-align: center;">
    <div style="text-align: left; width: 550px; margin-left: auto; margin-right: auto;">
        <div  style="text-align: center; margin-left: -0px;">
            <span id="logo">
              <img src="/static/smart_common/resources/images/badges/SMArt-Logo.png" style="padding-bottom: 0px;" alt="SMArt" />
            </span>

            <br clear="both"/>
            <div style="margin-bottom: 1em;">
            Welcome admin. Click <a href="logout">here to log out</a>
            </div>
            <table style="width:100%;">
                <thead>
                    <tr>
                        <th colspan="3">{{ apps|length }} Apps found on the SMART server</th>
                    </tr>
                </thead>
                <tbody>
                {% for app in apps %}
                    <tr>
                        <td class="app_admin_icon">
                            <img src="{{ app.icon|default:"" }}" alt="Icon" />
                        </td>
                        <td class="app_admin">
                            <div class="name">{{ app.name }}</div>
                            <div class="app_id">{{ app.id }}</div>
                            <a class="oauth_toggle" href="javascript:void(0);" onclick="$(this).parent().find('.oauth_secrets').toggle()">OAuth credentials</a>
                            <div class="oauth_secrets">
                                Key: <b>{{ app.consumer_key }}</b><br />
                                Secret: <b>{{ app.consumer_secret }}</b>
                            </div>
                        </td>
                        <td>
                            <button class="delete" onclick="ADMIN.del('{{app.id}}')">Delete</button>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <form id="form-delete" method="post" action="delete">
            <input type="hidden" id="descriptor" name="id"/>
        </form>
        <form method="post" action="add" enctype="multipart/form-data">
            <table style="width:100%;">
                <thead>
                    <tr>
                        <th colspan="2">Add a new app</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
            <input type="file" name="manifest"/>
                        </td>
                        <td>
            <button>Load</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
    
    <script>
    var ADMIN;
    if (!ADMIN) {
        ADMIN = {};
    }
        
    (function () {
        "use strict";
        
        ADMIN.del = function (id) {
            $("form#form-delete input#descriptor").val(id);
            $("form#form-delete").submit();
        };
    }());
    </script>
</body>
</html>
