<div style='padding-top: 20px; width: 100%;'>
  <div style='padding-bottom: 30px;'>
    <form>
      <span style='font-size: 16px'>Record:</span> <select name="record_id" id="record_id_selector">
      <option value="">Select a Record</option>
      <% for (i=0; i<record_list.length; i++) { %>
        <option value="<%= record_list[i].id %>"> <%= record_list[i].label %></option>
      <% } %>
    </select>
    </form>
  </div>
  <div style='padding: 20px 0px 0px 20px; border-top: 1px solid #777;' id="one_record"></div>
</div>
