/*

Indivo Widget UI CSS
--------------------

Some Color Schemes
-------------------

(as body background color, box, shadow)

Default Color Scheme
  - Off white background: background: #FEFCF7
  - Light gray box background: background: #fafafa
  - Rounded corners: moz-border-radius: 10px; -webkit-border-radius: 10px;
  - Light y-axis only box shadow: -moz-box-shadow: 0 1px 3px #aaa

Tint Colors
  - #efe - green
  - #eef - bluish
  - #eff - teal
  - #fef - pinkish/purple
  - #ffe - yellow
  - #fee - peach


Useful Icons from Crystal Project
----------------------------------

in /apps:
alert.png
blockdevice.png (for kids)
chat.png (speech bubble)
clock.png
database.png
date.png
gpg.png (lock)
irc_protocol.png (conversation)
kdmconfig.png (3 people -- carenet?)
khelpcenter.png
knode.png (news)
knote.png (note)
kteatime.png (take a break!)
package_favorite.png
package_setting.png
printer.png
reminders.png
tutorials.png
starthere.png

cool looking:
kllckety.png

patient notifier?: actions/agt_update_recommended.png


in /devices
pipe.png (for connection for gpp?)
mountoverlays.png

in /filesystems
connect_to_network.png
favorites.png
folder*
link and lock overlays

in /mimetypes
spreadsheet.png

in /actions

advanced.png
connect*
decrypted.png
gohome.png
goto.png
mail*
agt_family.png


Other Stuff
-----------
- red: #79332D

$('.box, .box h2').animate({ backgroundColor: '#fef' }, 2000, 'swing', function(){});

text-shadow: http://www.zachstronaut.com/posts/2009/06/22/css-text-shadow-lighting-demo.html 
.burning { text-shadow: 0 0 4px white, 0 -5px 4px #FFFF33, 2px -10px 6px #FFDD33, -2px -15px 11px #FF8800, 2px -25px 18px #FF2200; }
.glowing { text-shadow: 1px 1px 5px #fff; } 
.milky { color: #fff;  background: #fff; text-shadow: 1px 1px 4px#000; }

*** Warning: .section and .menu are highly styled by fluid960gs! don't use those class names !! ***
FIXME: Remove styling from those class names

*/


/********** HACKS *********/
/* FIXME: Hack for jqui icons positioning issues */
.ui-icon { display: none;}
/*#tabs { margin-bottom: 20px; }*/



/***** Indivo CSS *****/

/*** General ***/
body {
  font-size: 12px;
  line-height: 1;
  font-family: "Lucida Grande", "Lucida Sans", "Helvetica Neue", Helvetica, Verdana, sans-serif;
  border: 0px;
  padding: 0px;
  margin: 0px;
  background: #FEFCF7;
  color: #464337;
  letter-spacing:-0.2px;
}

.small {font-size: .9em;}

i { font-family: "Lucida Sans", "Lucida Grande", "Helvetica Neue", Helvetica, Verdana, sans-serif;font-style: oblique;}

#header {
    padding: 5px;
    background: #555;
    color: #eee;
    font-size: 14px;
    font-weight: bold;
}

#maincontent {
    padding: 3px 5px 3px 5px;
    margin: 0px;
}