<div class="results_header">Search Results </div>

<% if (records.length == 0) { %> No patients found. <% } %>

<ul class='search_results'>
<% for (var i = 0; i < records.length; i++) { %>
<% var record = records[i]; %>
	<li class='record' <%= record%>>
	<div>
	<%= record.demographics.firstname%> <%= record.demographics.lastname%>
	</div>
	<span class='dob'> <%= record.demographics.dob %></span>
	</li>
<% } %>
</ul>  
