<p>
[<a class="message_list" href="#">back to message list</a>]
</p>

<hr noshade />

<p>
<b>From:</b> <%= message.sender %>
</p>

<p>
<b>At:</b>  <%= message.received_at.substring(0,19) %>
</p>

<hr noshade />

<pre style="font-size:14pt;">
<%= message.body %>
</pre>

