<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns='http://www.w3.org/1999/xhtml' xml:lang='en' lang='en'>
  <head>
    {% include 'ui/header.html' %}
    <title></title>
  </head>
  <body>
    <div style="margin: 5% 10% 0 10%">
    <form id='authorize_form' method='post' action=''>
      <h2>{{NAME}}</h2>
      <p>
        {{DESCRIPTION}}
      </p>
      <p>
        You are about to authorize <strong>{{NAME}}</strong> for

        <select name='record_id'>
          {% for record in RECORDS %}
            <option value='{{ record.0 }}'>{{ record.1 }}</option>
          {% endfor %}
        </select>
      </p>

{% if carenets %}
      <p>
	This app will be visible to:<br />
{% for carenet in carenets %}
	<input type="checkbox" checked name="carenet_id" value="{{carenet.id}}" /> {{carenet.name}}<br />
{% endfor %}
You will still be able to control, independently, what <em>data</em> people see in your record.
It is only worth limiting an app's visibility to others when the app itself reveals private information,
for example if the app is "pregnancy tracker", "diabetes manager", etc.
      </p>
{% endif %}

{% if offline_capable %}
<p>
<b>WARNING</b>: This app is requesting access to your data while you are offline in order to:
<br />
<em>[[FILL IN REASON]]</em><br />

<input type="radio" name="offline_capable" value="1" /> Yes, grant offline access<br />
<input type="radio" name="offline_capable" value="0" checked /> No, only when I'm online<br />
</p>
{% endif %}
      <input type='hidden' name='oauth_token' value='{{REQUEST_TOKEN}}' />
      <input type='submit' value='authorize' />
    </form>
    </div>
  </body>
</html>
