<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns='http://www.w3.org/1999/xhtml' xml:lang='en' lang='en'>
  <head>
    {% if branding %}
      {% include branding.header_template %}
    {% else %}
      {% include 'ui/header.html' %}
    {% endif %}
    
    <title> Reference SMArt Container:  Create Developer Account</title>
    <script type="text/javascript" src="/static/resources/js/jquery-1.3.2.min.js"></script>
  </head>

  <body>
    <div style="margin: 100px auto; width: 70%;">
      <form id="form" method="post" >
        <div style="text-align: center;">
		<b>Reference SMArt Container:</b> Developer account created!
		<br><br>
		Please use your e-mail address and password to <a href="/login">log in</a>.
        </div>
      </form>
    </div>
    {% if branding %}
      {% include branding.footer_template %}
    {% else %}
      {% include 'ui/footer.html' %}
    {% endif %}
  </body>
</html>
