    <div id="footer" style="text-align: center">
      <a href="http://chip.org/ihl">
        <img style="height: 1em;" src='/static/resources/images/badges/ihl-badge.png'/>
        Intelligent Health Lab
      </a> * 
      <a href="http://chip.org">
        <img style="height: 1em;" src='/static/resources/images/badges/chip-badge.png'/>
        Children&rsquo;s Hospital Informatics Program
      </a> * 
      <a href="http://hms.harvard.edu">
        <img style="height: 1em;" src='/static/resources/images/badges/hms-alt.png'/>
        Harvard Medical School
      </a>
    </div>

    <div id="copyright">
      &copy; 2010
    </div>
