    <div id="footer" style="text-align: center">
      <a href="http://chip.org/ihl">
        <img  src='/static/resources/images/badges/ihl-badge.png'/>
        Intelligent Health Lab
      </a> * 
      <a href="http://chip.org">
        <img  src='/static/resources/images/badges/chip-badge.png'/>
        Children&rsquo;s Hospital Informatics Program
      </a> * 
      <a href="http://hms.harvard.edu">
        <img  src='/static/resources/images/badges/hms-alt.png'/>
        Harvard Medical School
      </a>* 
      <a href="http://hms.harvard.edu">Powered by SMArt &copy; 2010
      </a>
    </div>
