    <!-- TODO: concat and compress css -->
    <!-- CSS order: fluid960, jquery-ui, indivo -->
    <!-- <link rel="stylesheet" type="text/css" href="/ui/static/resources/fluid960gs/css/reset.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/ui/static/resources/fluid960gs/css/text.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/ui/static/resources/fluid960gs/css/grid.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/ui/static/resources/fluid960gs/css/layout.css" media="screen" /> -->
    <!--[if IE 6]><link rel="stylesheet" type="text/css" href="../../../css/ie6.css" media="screen" /><![endif]-->
    <!--[if IE 7]><link rel="stylesheet" type="text/css" href="../../../css/ie.css" media="screen" /><![endif]-->
    <!-- <link type="text/css" href="/ui/static/resources/jquery-ui-1.7.2/css/smoothness/jquery-ui-1.7.custom.css" rel="Stylesheet" /> -->
    <link type="text/css" href="/static/resources/css/vendor.min.css" rel="Stylesheet" />
    <link type="text/css" href="/static/resources/css/ui.css" rel="Stylesheet" />
