<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns='http://www.w3.org/1999/xhtml' xml:lang='en' lang='en'>
  <head>
    {% if branding %}
      {% include branding.header_template %}
    {% else %}
      {% include 'ui/header.html' %}
    {% endif %}
    
    <title> Reference SMArt Container: Login</title>
    <script type="text/javascript" src="/static/resources/js/jquery-1.3.2.min.js"></script>
    <script type="text/javascript">
      $(function(){
        $('#username').focus();
        
    {% if account %}
        $('#username').val('{{account}}');
        $('#password').focus();
    {% endif %}
    
        $('#form').submit(function() {
          if (!$('#username').val()) {
            alert('Please enter a username.');
            $('#username').focus();
            return false;
          }

          if (!$('#password').val()){
            alert('Please enter a password.');
            $('#password').focus();
            return false;
          }
          return true;
        });
      })
    </script>
  </head>
  <body> <img src="/static/resources/images/badges/SMArt-Logo.png" style="float: left; margin-right: 2em;" alt='smart'/>
    <div style="width: 800px; margin-left: auto; margin-right: auto; padding-top: 1em;">
      <form id="form" method="post" action="/login">
        <div >

          <span id="logo" style="font-size: 2em;">
            Welcome to the Reference  Container
          {% if error %}
            <div style="border: 3px dashed red; padding: 10px; margin: 70px 0 0 0; font-size: 20px; ">
              {{error}}
            </div>
          {% endif %}
          
        </div>

        <br clear="both"/>
        <table>
        <tr><Td> <span style="font-size: 22px;">Username:</span></td><td><input type="text" style="font-size: 20px;" id="username" name="username" tabindex="1"/>
          </td></tr>
        <tr><Td> <span style="font-size: 22px;">Password:</span></td><td>
          <input type="password" style="font-size: 20px;" id="password" name="password" tabindex="2" /></td></tr>
		<tr><td colspan="2">          <input type="hidden" name="return_url" value="{{return_url}}" />
          <input style="font-size: 18px; width: 100%;"
                 type="submit"
                 name="submit"
                 id="submit"
                 tabindex="3"
                 value="          Login          "/>
		</td></tr>
        </table>
        <div >
        </div>

        <div style="margin-top: 1em;">
        > <a href="/create_developer_account"> Create Developer Account</a>
		</div>

      </form>


    </div>


    {% if branding %}
      {% include branding.footer_template %}
    {% else %}
      {% include 'ui/footer.html' %}
    {% endif %}
  </body>
</html>