<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns='http://www.w3.org/1999/xhtml' xml:lang='en' lang='en'>
  <head>

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/> 
    <meta name="apple-mobile-web-app-capable" content="yes" /> 
    <meta name="apple-mobile-web-app-status-bar-style" content="black" /> 
    <link rel="apple-touch-icon" href="/static/smart_common/resources/images/smart-ipad-icon.png"/> 
    <link rel="apple-touch-startup-image" href="/static/smart_common/resources/images/smart-ipad-icon.png"/> 

    <title> Reference SMART EMR: Login</title>
    <link type="text/css" href="/static/smart_common/smart_ui_server.css" rel="Stylesheet" />
    
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>
    <script type="text/javascript">
      $(function(){
        $('#username').focus();
        
    {% if account %}
        $('#username').val('{{account}}');
        $('#password').focus();
    {% endif %}
    
        $('#form').submit(function() {
          if (!$('#username').val()) {
            alert('Please enter an e-mail address.');
            $('#username').focus();
            return false;
          }

          if (!$('#password').val()){
            alert('Please enter a password.');
            $('#password').focus();
            return false;
          }
          return true;
        });
      });
    </script>
  </head>
  <body style="text-align: center;">
    <div style="text-align: left; width: 400px; margin-left: auto; margin-right: auto; margin-top: 100px;">
      <form id="form" method="post" action="/login">
        <div  style="text-align: center; margin-left: -0px;">
            <span id="logo">
              <img src="/static/smart_common/resources/images/badges/SMArt-Logo.png" style="padding-bottom: 0px;" alt='SMArt'/>
            </span>

          {% if error %}
            <div style="border: 3px dashed red; padding: 10px; margin: 70px 0 0 0; font-size: 20px;">
              {{error}}
            </div>
          {% endif %}

        <br clear="both"/>
        <table style="width: 100%;">
        <tr>
          <td colspan="2" style="text-align: center; font-size: 1.8em; font-weight: bold; ">EMR Login is disabled</td>
	</tr>
        </table>
	</div>

      </form>

    </div>
        <div style="margin-top: 1em; font-size: 80%;">
	  The SMART EMR works with: 
	    <span style="font-weight: bold; font-size: 100%;">Chrome 8+ Firefox 3.6+, IE8+, Safari 5+</span>
        </div>

    {% if branding %}
      {% include branding.footer_template %}
    {% else %}
      {% include 'ui/footer.html' %}
    {% endif %}
  </body>
</html>
