{% extends "ui/index.html" %}
{% block title %}Proxied SMArt EMR{% endblock %}
{% block global_vars %}
      var ACCOUNT_ID = "{{ ACCOUNT_ID }}";
      var SMART_PASSTHROUGH_SERVER = "{{SMART_PASSTHROUGH_SERVER}}";
      var FULLNAME = "{{ FULLNAME }}";
      var PROXIED_RECORD_ID = "{{ PROXIED_RECORD_ID  }}";
      var PROXIED_RECORD_NAME = "{{ PROXIED_RECORD_NAME  }}";
    {% if INITIAL_APP %}
      var INITIAL_APP = "{{ INITIAL_APP  }}";
    {% endif %}
{% endblock %}

{% block header_username %}{% endblock %}
{% block patient_list %}{% endblock %}
