{% extends "ui/Base.html" %}
{% load i18n %}

{% block main %}
	<form id="authorize_form" method="post" action="">
		<input type="hidden" name="oauth_token" value="{{ REQUEST_TOKEN }}" />
		<input type="hidden" name="oauth_callback" value="{{ CALLBACK_URL }}" />
		<input type="hidden" name="record_id" value="{{ RECORD_ID }}" />
		
		<h2>{{ NAME|default:"Unnamed app" }}</h2>
		<h4>{{ APP_ID|default:"unknown app id" }}</h4>
		{% if DESCRIPTION %}
		<p>{{ DESCRIPTION }}</p>
		{% endif %}
		<div class="login_attention">
			You are about to authorize this app to access patient records on your behalf.
		</div>
		
		{% if OFFLINE_CAPABLE %}
		<p>
			<b>WARNING</b>: This app is requesting access to your data while you are offline.<br />
			<br />
			<!-- show reason here -->
			<input id="yes_offline" type="radio" name="offline_capable" value="1" />
			<label for="yes_offline">Yes, grant offline access</label><br />
			<input id="not_offline" type="radio" name="offline_capable" value="0" checked="checked" />
			<label for="not_offline">No, only when I'm online</label><br />
		</p>
		{% endif %}
		
		<div class="main_action_button">
			<button type="submit">{% trans "Authorize" %}</button>
			<p class="moreinfo">
				<a href="/login" onclick="history.back(); return false;">{% trans "Go back" %}</a>
				<b>|</b>
				<a href="/logout">{% trans "Logout" %}</a>
			</p>
		</div>
	</form>
{% endblock %}
