{% extends "ui/base.html" %}
{% load i18n %}

{% block title %}{% trans "Create Developer Account" %}{% endblock %}
{% block welcome %}{% trans "Create Developer Account" %}{% endblock %}

{% block readyscript %}
<script type="text/javascript">
	$(function(){
		if (!("autofocus" in document.createElement("input"))) { $('#given_name').focus(); }
	
		$('#form').submit(function() {
			if (!$('#given_name').val() || !$('#family_name').val()){
				alert('Please enter your full name.');
				$('#password').focus();
				return false;
			}
			if (!$('#username').val()) {
				alert('Please enter an e-mail address.');
				$('#username').focus();
				return false;
			}
			if (!$('#password').val()){
				alert('Please enter a password.');
				$('#password').focus();
				return false;
			}
			return true;
		});
	})
</script>
{% endblock %}


{% block main %}
<h2 style="text-align:center;"></h2>
<form id="form" method="post" action="" class="table_form">
	<input type="hidden" name="return_url" value="{{ RETURN_URL }}" />
	
	<!-- signup form -->
	<div class="row">
		<div class="cell">First name:</div>
		<div class="cell"><input type="text" style="font-size: 18px;" id="given_name" name="given_name" tabindex="1" autofocus="autofocus" /></div>
	</div>
	<div class="row">
		<div class="cell">Last name:</div>
		<div class="cell"><input type="text" style="font-size: 18px;" id="family_name" name="family_name" tabindex="2" /></div>
	</div>
	<div class="row">
		<div class="cell">Department:</div>
		<div class="cell"><input type="text" style="font-size: 18px;" id="department" name="department" value="informatics" tabindex="3" /></div>
	</div>
	<div class="row">
		<div class="cell">Role:</div>
		<div class="cell"><input type="text" style="font-size: 18px;" id="role" name="role" value="developer" tabindex="4" /></div>
	</div>
	<div class="row">
		<div class="cell">Email:</div>
		<div class="cell"><input type="email" style="font-size: 18px;" id="username" name="username" tabindex="5" /></div>
	</div>
	<div class="row">
		<div class="cell">Password:</div>
		<div class="cell"><input type="password" style="font-size: 18px;" id="password" name="password" tabindex="6" /></div>
	</div>
	
	<!-- submit -->
	<div class="row">
		<div class="cell"></div>
		<div class="cell">
			<div class="main_action_button">
				<button type="submit" id="submit" tabindex="7">{% trans "Create Account" %}</button>
				<p class="moreinfo">
					<a href="/login">{% trans "Back to login" %}</a>
				</p>
			</div>
		</div>
	</div>
</form>
{% endblock %}
