{% extends "ui/base.html" %}
{% load i18n %}

{% block title_suffix %}{% trans "Login" %}{% endblock %}

{% block readyscript %}
	<script type="text/javascript">
		$(document).ready(function() {
			$('#username').focus();
			$('#login_form').submit(function() {
				$('#username').removeClass('error');
				$('#password').removeClass('error');
				if (!$('#username').val()) {
					$('#username').addClass('error').focus();
					return false;
				}
				if (!$('#password').val()){
					$('#password').addClass('error').focus();
					return false;
				}
				return true;
			});
		});
	</script>
{% endblock %}

{% block welcome_prefix %}{% endblock %}
{% block welcome %}EMR Login{% endblock %}

{% block main %}
	<!-- Login Form -->
	<form id="login_form" class="table_form" method="post" action="/login">
		<input type="hidden" name="return_url" value="{{ RETURN_URL }}" />
		<div class="row">
			<div class="cell">{% trans "Email:" %}</div>
			<div class="cell">
				<input type="text" id="username" name="username" value="{{ ACCOUNT }}" tabindex="1"/>
			</div>
		</div>
		<div class="row">
			<div class="cell">{% trans "Password:" %}</div>
			<div class="cell">
				<input type="password" id="password" name="password" tabindex="2" /><br />
				<p class="moreinfo">
					<a class="login_action_link" href="/reset_password_request" onclick="if ($('#username').val()) { $(this).attr('href', '/reset_password_request?account_email=' + $('#username').val()); } return true;">{% trans "Forgot your password?" %}</a>
				</p>
				
				<div class="main_action_button">
					<button id="submit" type="submit" name="submit" tabindex="3">{% trans "Login" %}</button>
					<p class="moreinfo">
						<a href="/create_developer_account">{% trans "Register Developer Account" %}</a>
					<p>
					<p id="browser_compatibility" class="moreinfo">
						The SMART EMR works with:<br />
						<span style="font-weight: bold;">Chrome 8+, Firefox 3.6+, IE8+, Safari 5+</span>
					</p>
				</div>
			</div>
		</div>
	</form>
{% endblock %}
