{% extends "ui/base.html" %}
{% load i18n %}

{% block title %}{% trans "Reset Password" %}{% endblock %}
{% block welcome %}{% trans "Reset Password" %}{% endblock %}

{% block readyscript %}
<script type="text/javascript">
	$(function() {
		$('#new_password').select();
		
		$('#reset_form').submit(function() {
			if (!$('#account_email').val()){
				alert('Please enter your account e-mail address.');
				$('#account_email').focus();
				return false;
			}
			if (!$('#new_password').val()){
				alert('Please enter a new password.');
				$('#new_password').focus();
				return false;
			}
			return true;
		});
	});
</script>
{% endblock %}

{% block main %}
<form id="reset_form" class="table_form" method="post" action="">
	<input type="hidden" name="account_secret" value="{{ ACCOUNT_SECRET }}" />
	
	<div class="row">
		<div class="cell">{% trans "Email" %}:</div>
		<div class="cell"><input type="email" id="account_email" name="account_email" value={{ ACCOUNT }} tabindex="1" /></div>
	</div>
	<div class="row">
		<div class="cell">{% trans "New password" %}:</div>
		<div class="cell"><input type="password" id="new_password" name="new_password" tabindex="2" />
		
		<div class="main_action_button">
			<button type="submit" tabindex="3">{% trans "Reset Password" %}</button>
			
			<p class="moreinfo">
				<a href="/login">{% trans "Back to login" %}</a>
			</p>
		</div>
	</div>
</form>
{% endblock %}
