<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns='http://www.w3.org/1999/xhtml' xml:lang='en' lang='en'>
  <head>
    {% if branding %}
      {% include branding.header_template %}
    {% else %}
      {% include 'ui/header.html' %}
    {% endif %}
    
    <title>{% block title %}SMArt EMR{% endblock %}</title>
    <link type="text/css" href="/static/smart_common/smart_ui_server.css" rel="Stylesheet" />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>
    <script type="text/javascript">
      $(function(){
        if (!("autofocus" in document.createElement("input"))) {
          $('#new_password').focus();
        }
        $('#form').submit(function() {
          if (!$('#account_email').val()){
            alert('Please enter your account e-mail address.');
            $('#account_email').focus();
            return false;
          }
        $('#form').submit(function() {
          if (!$('#new_password').val()){
            alert('Please enter a new password.');
            $('#new_password').focus();
            return false;
          }
          return true;
        });
      })
    </script>
  </head>
  <body style="text-align: center;">
    <div style="text-align: left; width: 550px; margin-left: auto; margin-right: auto; margin-top: 100px;">
      <form id="form" method="post" action="">
        <div  style="text-align: center; margin-left: -0px;">
            <span id="logo">
              <img src="/static/smart_common/resources/images/badges/SMArt-Logo.png" style="padding-bottom: 0px;" alt='SMArt'/>
            </span>

        <div style="font-size: 24px">
          {% if error %}
            <div style="border: 3px dashed red; padding: 10px; margin: 70px 0 0 0; font-size: 18px;">
              {{error}}
            </div>
          {% endif %}
        </div>

        <br clear="both"/>
        <table style="font-size:18px">
        <tr>
          <td colspan="2" style="text-align: center; font-size: 1.8em; font-weight: bold; ">Reset Developer Password</td>
	</tr>

          <tr>
            <td>Email:</td>
            <td><input type="email" id="account_email" name="account_email" value={{account_email}} tabindex="1"/></td>
          </tr>
          <tr>
            <td>Password:</td>
            <td><input AUTOFOCUS type="password" id="new_password" name="new_password" tabindex="2" /></td>
          </tr>
          <tr>
            <td colspan="2">
              <input type="hidden" name="account_secret" value="{{account_secret}}" />
              <input style="font-size: 18px; width: 100%;"
                     type="submit"
                     name="submit"
                     id="submit"
                     tabindex="3"
                     value="          Reset Password          "/>
            </td>
          </tr>
        </table>
      </form>
    </div>
    {% if branding %}
      {% include branding.footer_template %}
    {% else %}
      {% include 'ui/footer.html' %}
    {% endif %}
  </body>
</html>
